<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<policy>MW-automated</policy>
<scanner>
<level>LOW</level>
<strength>HIGH</strength>
</scanner>
<plugins>
<p6>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p6>
<p7>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p7>
<p40009>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40009>
<p40012>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40012>
<p40014>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40014>
<p40018>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40018>
<p90019>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p90019>
<p90020>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p90020>
<p0>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p0>
<p20019>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p20019>
<p40003>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40003>
<p40008>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40008>
<p40016>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40016>
<p40017>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p40017>
<p50000>
<level>DEFAULT</level>
<strength>DEFAULT</strength>
</p50000>
</plugins>
</configuration>
